/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(246, 248, 249);
}

header {
    height: 20%;
    /* border: 1px solid red; */
    padding: 10px;
}

header img {
    width: 70px;
    margin: 0 10px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
}

.container {
    /* background-color: white; */
    width: 80%;
    margin: 30px auto;

}

.buttons {
    border-radius: 10px 10px 0 0;
}

header,
.buttons,
.tasks {
    background-color: white;
}

.buttons,
.tasks {
    padding: 20px 50px;
}

.buttons button {
    width: 100px;
    height: 40px;
    padding-block: 5px;
    border-radius: 5px;
    font-size: 100%;

}

.buttons button:hover {
    cursor: pointer;
}

.buttons :first-child {
    background-color: rgba(72, 173, 241, 1);
    color: white;
    border: 0;
}

.buttons :last-child {
    color: rgba(203, 208, 214, 1);
    border: 1px solid rgba(203, 208, 214, 1);
    background-color: white;
    margin-left: 5px;
}

.tasks {
    margin-top: 5px;
    border-radius: 0 0 10px 10px;
}

li {
    margin-left: 1em;
    padding-block: 10px;
    list-style: none;
}

.li-title {
    font-size: 25px;
    font-weight: bold;
}

/* Prima di ogni li-title */
.li-title::before {
    /* down triangle before li-title */
    content: '\25BE';
}

.li-title+ul li {
    font-size: 20px;
}

.circle::before {
    margin-inline: -0.5em 2px;
    border-radius: 50%;
    font-size: 12px;
    padding: 1px;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
}

.checked::before {
    /* check before li */
    content: '\2713';
    color: green;
    border: 1px solid green;
}

.cross::before {
    /* cross before li */
    content: '\292B';
    color: red;
    border: 1px solid red;
}

.label::after {
    margin-left: 5px;
    border-radius: 15px;
    padding: 10px 15px;
    color: white;
    font-size: 12px;
}

.editorial::after {
    /* label after li */
    content: 'Editorial';
    background-color: rgba(72, 173, 241, 1);
    
}

.q1-goals::after {
    /* label after li */
    content: 'Q1 Goals';
    background-color: rgba(156, 114, 228, 1);
}

.mobile::after {
    /* label after li */
    content: 'Mobile';
    background-color: rgba(242, 158, 51, 1);
}

.website::after {
    /* label after li */
    content: 'Website';
    background-color: rgba(215, 99, 161, 1);
}

.sales::after {
    /* label after li */
    content: 'Sales';
    background-color: rgba(176, 201, 37, 1);
}

.recruiting::after {
    /* label after li */
    content: 'Recruiting';
    background-color: rgba(100, 192, 169, 1);
}

/* EXERCISE COMPLETED */