/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(246, 248, 249);
}

header {
    height: 20%;
    /* border: 1px solid red; */
    padding: 10px;
}

header img {
    width: 70px;
    margin: 0 10px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-size: 50px;
    vertical-align: middle;
}

.container {
    /* background-color: white; */
    width: 80%;
    margin: 30px auto;

}

.buttons {
    border-radius: 10px 10px 0 0;
}

header,
.buttons,
.tasks {
    background-color: white;
}

.buttons,
.tasks {
    padding: 20px 50px;
}

.buttons button {
    width: 100px;
    height: 40px;
    padding-block: 5px;
    border-radius: 5px;
    font-size: 100%;

}

.buttons button:hover {
    cursor: pointer;
}

.buttons :first-child {
    background-color: rgba(72, 173, 241, 1);
    color: white;
    border: 0;
}

.buttons :last-child {
    color: rgba(203, 208, 214, 1);
    border: 1px solid rgba(203, 208, 214, 1);
    background-color: white;
    margin-left: 5px;
}

.tasks {
    margin-top: 5px;
    border-radius: 0 0 10px 10px;
}

li {
    margin-left: 1em;
    padding-block: 10px;
    list-style: none;
}

.li-title {
    font-size: 25px;
    font-weight: bold;
}

/* Prima di ogni li-title */
.li-title::before {
    /* down triangle before li-title */
    content: '\25BE';
}

.li-title+ul li {
    font-size: 20px;
}

.checked::before {
    /* check before li */
    content: '\002713';
    margin-inline: -0.5em 2px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    font-size: 12px;
    padding: 1px 3px;
}

.cross::before {
    /* check before li */
    content: '\00274c';
    margin-inline: -0.5em 2px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    font-size: 10px;
    padding: 3px 3px 3px 3px;
    /* padding: 0px 5px 2px 5px; */
}

.editorial::after {
    /* label after li */
    content: 'Editorial';
    margin-left: 5px;
    background-color: rgba(72, 173, 241, 1);
    border-radius: 15px;
    padding: 10px 15px;
    color: white;
    font-size: 12px;
}

.q1-goals::after {
    /* label after li */
    content: 'Q1 Goals';
    margin-left: 5px;
    background-color: rgba(156, 114, 228, 1);
    border-radius: 15px;
    padding: 10px 15px;
    color: white;
    font-size: 12px;
}

.mobile::after {
    /* label after li */
    content: 'Mobile';
    margin-left: 5px;
    background-color: rgba(242, 158, 51, 1);
    border-radius: 15px;
    padding: 10px 15px;
    color: white;
    font-size: 12px;
}

.website::after {
    /* label after li */
    content: 'Website';
    margin-left: 5px;
    background-color: rgba(215, 99, 161, 1);
    border-radius: 15px;
    padding: 10px 15px;
    color: white;
    font-size: 12px;
}

.sales::after {
    /* label after li */
    content: 'Sales';
    margin-left: 5px;
    background-color: rgba(176, 201, 37, 1);
    border-radius: 15px;
    padding: 10px 15px;
    color: white;
    font-size: 12px;
}

.recruiting::after {
    /* label after li */
    content: 'Recruiting';
    margin-left: 5px;
    background-color: rgba(100, 192, 169, 1);
    border-radius: 15px;
    padding: 10px 15px;
    color: white;
    font-size: 12px;
}

/* EXERCISE COMPLETED */